/* Customize body's background color */
body {
    background-color:#1c2841;
    margin: 0;
}

/* Generic customization for paragraph text */
p {
    color: #CCCCCC;
}

/* Generic customization for header 2 text */
h2 {
    color: #CCCCCC;
}

/* Add background-color and scroll bar disabled for the navigation bar */
.navbar {
    background-color: #004953;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* General customizations for links in the navbar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Changes in background color and text color when hovering over links in the navigation bar */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Change color of navigation bar home link */
.navbar a.homePage {
    background-color: black;
    color: darkorange;
}

/* Some customizations for the tech goals list to allow for custom bullet points */

.goals {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
}

.goals li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.25;
    color: #CCCCCC;
}

.goals li::before {
    content: attr(data-icon);
}

/* Small customizations for the about me text */
.aboutme {
    text-align: justify;
}

/* Customizes the "designed with..." statement */
.production-statement {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: italic;
}

/* Customizes both left and right sides of form (but not the form title and submit button) */
.form-inputs {
    display: flex;
    justify-content: center;
    color: #CCCCCC;
}

/* Customizing left side of form */
.left-form {
    padding: 10px;
    float: left;
}

/* Customizing right side of form */
.right-form {
    padding: 10px;
    float: right;
}

/* Basic customizations for entire contact form */
.contact-form {
    text-align: center;
    border-style: groove;
    border-width: 5px;
    border-color: #CCCCCC;
    border-radius: 10px;
    max-width: fit-content;
    margin: auto;
    padding: 10px;
}

/* Customizing positioning of the bottom section of the contact form */
.bottom-form {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Customizations for reset button */
.resetButton {
    margin: auto;
    float: left;
}

/* Customizations for submit button */
.submitButton {
    margin: auto;
    float: right;
}

/* Customizations for message text area (to make it scrollable and not size-adjustable) */
.message {
    overflow-y: scroll;
    resize: none;
}

/* Customizations for "I am Nirjhar" in the nav bar */
.introducing-name {
    display: inline;
}

/* Customizations for "Hello! I am Nirjhar" in the nav bar */
.introducing-me {
    font-weight: bold;
    text-align: center;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px 16px;
    z-index: 10;
    justify-content: center;
}

/* Customizations for futuristic banner image */
.banner-image {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}

/* Blurry red shadow effect for the "hello" text */
.hello {
    text-shadow: 2px 2px 5px red;
    display: inline;
}

/* Customizations for big Hello text */
.banner-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 90px;
    text-shadow: 2px 2px 5px red;
    text-align: center;
}

/* Customizations for the welcome text in the banner */
.banner-subtext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px red;
}

/* Customizations for the credit statement for the homepage artwork */
.banner-credit {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

/* Customizing the link in the credit statement */
.banner-credit a {
    color: blue;
}

/* Customizations for all of the contact links including their title */
.contact-links-total {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Customizations for the title of the contact links */
.contact-label {
    display: flex;
    justify-content: center;
}

/* Customizations for the container holding the contact boxes */
.contact-links {
    display: flex;
    justify-content: center;
}

/* Customizes the contact pictures (ex: LinkedIn, GitHub, Outlook, Email) */
.contact-boxes {
    text-decoration: none;
    margin: 10px;
}

/* When hovering over contact boxes, they shake */
.contact-boxes img:hover {
    /* Start the shake animation and make the animation last for 1.25 seconds */
    animation: shake 1.25s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

/* Frames for shake animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}