/* Customize body's background color */
body {
    background-color:#1c2841;
    margin: 0;
    cursor: auto;
}

/* Generic color for all links */
a {
    color: blue;
}

/* Generic customization for paragraph text */
p {
    color: #CCCCCC;
}

/* Generic customization for header 2 text */
h2 {
    color: #CCCCCC;
}

/* Add background-color and scroll bar disabled for the navigation bar */
.navbar {
    background-color: #004953;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* General customizations for links in the navbar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Changes in background color and text color when hovering over links in the navigation bar */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Change color of navigation bar home link */
.navbar a.homePage {
    background-color: black;
    color: darkorange;
}

/* Customizations for "I am Nirjhar" in the nav bar */
.introducing-name {
    display: inline;
}

/* Customizations for "Hello! I am Nirjhar" in the nav bar */
.introducing-me {
    font-weight: bold;
    text-align: center;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px 16px;
    z-index: 10;
    justify-content: center;
}

/* Customizations for futuristic banner image */
.banner-image {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
    object-fit: cover;
}

/* Blurry red shadow effect for the "hello" text */
.hello {
    text-shadow: 2px 2px 5px red;
    display: inline;
}

/* Customizations for big Hello text */
.banner-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bungee Inline', cursive;
    font-size: 90px;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-weight: bold;
}

/* Customizations for the welcome text in the banner */
.banner-subtext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'IM Fell English SC', serif;
    font-size: 50px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
}

/* Customizations for the credit statement for the homepage artwork */
.banner-credit {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

/* Customizing the link in the credit statement */
.banner-credit a {
    color: blue;
}

/* Customizations for "Who is Nirjhar Deb?" Header */
.introducing-nirjhar {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

/* Customizations for entire about me section */
.about-me {
    display: flex;
    justify-content: center;
    background-color: #b6ac9d;
    border-width: 5px;
    border-style: dotted;
    border-radius: 5px;
    margin: 10px;
}

/* Small customizations for the about me text */
.about-me-description {
    text-align: left;
    font-size: large;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bold;
}

/* Customizations for TEDx Image */
.tedx-image {
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px;
    border-color: #CCCCCC;
    border-style: inset;
}

/* Customizes "What is Nirjhar doing now?" header */
.current-work-header {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

/* Contains entire section about missions, goal, and resume */
.tech-goals {
    background-color: #b6ac9d;
    color: black;
    align-items: center;
    border-width: 5px;
    border-style: dotted;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: flex;
}

/* Customizes the description above missions header */
.goals-statement {
    text-align: left;
    font-size: large;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bold;
    overflow-y: auto;
}

/* Customizes the "Missions in Progress" header */
.missions-header {
    text-align: left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

/* Customizes the list of goals and the resume button */
.goals-resume {
    display: flex;
}

/* Some customizations for the tech goals list to allow for custom bullet points */
.goals {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 0.5rem;
    justify-content: left;
    text-align: left;
}

/* Customizes each list item of goals list */
.goals li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 20px;
    line-height: 1.55;
    justify-self: left;
    font-weight: bold;
}

/* Customizes the bullet point of each list item in the goals section */
.goals li::before {
    content: attr(data-icon);
    margin-left: 5px;
    justify-content: center;
    font-weight: lighter;
}

/* Customizes the resume button */
.resume-button {
    background-color: #1c2841;
    color: darkorange;
    font-size: x-large;
    font-family: 'Bungee Inline', cursive;
    border-width: 5px;
    border-color: #CCCCCC;
    border-radius: 20px;
    border-style: ridge;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: auto;
}

/* Changes resume button when hovered over */
.resume-button:hover {
    color: #1c2841;
    background-color: darkorange;
    cursor: pointer;
}

/* Customizes the "How can I contact Nirjhar" header */
.contact-header {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

/* Contains all the means of contacting Nirjhar */
.contact-methods {
    display: flex;
    background-color: #b6ac9d;
    color: black;
    align-items: top;
    justify-content: space-around;
    border-width: 5px;
    border-style: dotted;
    border-radius: 5px;
    margin: 10px;
    overflow-wrap: break-word;
}

/* Customizations for all of the contact links including their title */
.contact-links-total {
    margin-right: 5px;
    margin-left: 5px;
}

/* Customizations for the title of the contact links */
.contact-links-title {
    display: flex;
    color: black;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Contains Nirjhar's phone number and email addresses */
.contact-description {
    text-align: left;
    font-size: large;
    margin-right: 5px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bold;
    list-style-type: none;
}

/* Customizations for the container holding the contact boxes */
.contact-links {
    display: flex;
    justify-content: center;
}

/* Customizes the contact pictures (ex: LinkedIn, GitHub, Outlook, Email) */
.contact-boxes {
    text-decoration: none;
    margin: 5px;
}

/* When hovering over contact boxes, they shake */
.contact-boxes img:hover {
    /* Start the shake animation and make the animation last for 1.25 seconds */
    animation: shake 1.25s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

/* Frames for shake animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Customization for opie portrait in contact section */
.opie {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Basic customizations for entire contact form */
.contact-form {
    text-align: center;
    max-width: fit-content;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px;
}

/* Customizes contact form title */
.contact-form-title {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Customizes both left and right sides of form (but not the form title and submit button) */
.form-inputs {
    display: flex;
    justify-content: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/* Customizing left side of form */
.left-form {
    padding: 10px;
    float: left;
}

/* Customizing right side of form */
.right-form {
    padding: 10px;
    float: right;
}

/* Customizing positioning of the bottom section of the contact form */
.bottom-form {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Customizations for reset button */
.resetButton {
    margin: auto;
    float: left;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Customizations for submit button */
.submitButton {
    margin: auto;
    float: right;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Customizations for message text area (to make it scrollable and not size-adjustable) */
.message {
    overflow-y: scroll;
    resize: none;
}


/* Customizes the "designed with..." statement */
.production-statement {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: italic;
}

/* Customizations for less than fullscreen in desktop */
@media (max-width: 1000px) {

    /* Customizations for big Hello text */
    .banner-text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Bungee Inline', cursive;
        font-size: 90px;
        text-shadow: 2px 2px 5px red;
        text-align: center;
        font-weight: bold;
    }

    /* Customizations for the welcome text in the banner */
    .banner-subtext {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'IM Fell English SC', serif;
        font-size: 50px;
        text-align: center;
        color: black;
        text-shadow: 2px 2px 5px red;
        font-weight: bold;
    }

    .contact-methods {
        flex-direction: column;
        align-items: center;
    }

    .tech-goals {
        flex-direction: column;
        align-items: center;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
    }
}

/* Customizations for when viewing in mobile */
@media only screen and (max-device-width: 480px) {
    /* Customizations for big Hello text */
    .banner-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Bungee Inline', cursive;
        font-size: 90px;
        text-shadow: 2px 2px 5px red;
        text-align: center;
        font-weight: bold;
    }

    /* Customizations for the welcome text in the banner */
    .banner-subtext {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'IM Fell English SC', serif;
        font-size: 50px;
        text-align: center;
        color: black;
        text-shadow: 2px 2px 5px red;
        font-weight: bold;
    }

    /* Customizations for futuristic banner image */
    .banner-image {
        width: 100%;
        position: relative;
        text-align: center;
        color: white;
        z-index: -1;
        object-fit: cover;
    }

    .contact-methods {
        flex-direction: column;
        align-items: center;
    }

    .tech-goals {
        flex-direction: column;
        align-items: center;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
    }
}