/* Customize body's background color */
body {
    background-color:#1c2841;
    margin: 0;
}

p {
    color: #CCCCCC;
}

h2 {
    color: #CCCCCC;
}

/* Add background-color and scroll bar disabled for the navigation bar */
.navbar {
    background-color: #004953;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* General customizations for links in the navbar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* Changes in background color and text color when hovering over links in the navigation bar */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Change color of navigation bar home link */
.navbar a.homePage {
    background-color: black;
    color: darkorange;
}

/* Some customizations for the tech goals list to allow for custom bullet points */

.goals {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
}

.goals li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.25;
    color: #CCCCCC;
}

.goals li::before {
    content: attr(data-icon);
}

/* Small customizations for the about me text */
.aboutme {
    text-align: justify;
}

/* Customizes the contact pictures (ex: LinkedIn, GitHub, Outlook, Email) */
.contact_boxes {
    text-decoration: none;
}

/* Customizes the "designed with..." statement */
.production-statement {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: italic;
}

/* Customizes both left and right sides of form (but not the form title and submit button) */
.form-inputs {
    display: flex;
    justify-content: center;
    color: #CCCCCC;
}

/* Customizing left side of form */
.left-form {
    padding: 10px;
    float: left;
}

/* Customizing right side of form */
.right-form {
    padding: 10px;
    float: right;
}

/* Basic customizations for entire contact form */
.contact-form {
    text-align: center;
    border-style: groove;
    border-width: 5px;
    border-color: #CCCCCC;
    border-radius: 10px;
    max-width: fit-content;
    margin: auto;
    padding: 10px;
}

.bottom-form {
    text-align: center;
    display: flex;
    justify-content: center;
}

.resetButton {
    margin: auto;
    float: left;
}

.submitButton {
    margin: auto;
    float: right;
}

.message {
    overflow-y: scroll;
    resize: none;
}

.introducing-name {
    display: inline;
}

.introducing-me {
    font-weight: bold;
    text-align: center;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px 16px;
}

.banner-image {
    width: 100%;
    height: 100vh;
}

/* Blurry red shadow effect for the "hello" text */
.hello {
    text-shadow: 2px 2px 5px red;
    display: inline;
}